.cruisesPage {
  background-color: #f6f2a5;
  opacity: 0.8;
}

h1 {
  float: left !important;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-shadow: rgb(57, 255, 20) 2px 2px;
}

p {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-shadow: rgb(57, 255, 20) 2px 2px;
  font-size: 40px;
}

h2 {
  justify-content: left !important;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-shadow: rgb(57, 255, 20) 2px 2px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 55px;
}

.countryButton {
  background-color: rgb(137, 255, 248);
  opacity: 0.8;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  color: blue;
  text-shadow: rgb(57, 255, 20) 2px 2px;
  box-shadow: rgb(57, 255, 20) 2px 2px;
  text-decoration: chartreuse;
  float: right;
}
.personalityType {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-shadow: rgb(57, 255, 20) 2px 2px;
  font-size: 5em;
}

a {
  font-size: 2em;
  font-weight: bold;
  text-shadow: rgb(57, 255, 20) 2px 2px;
  font-family: "Amatic SC", cursive;
  align-self: auto;
}
