#apppage .view {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81eG9m1DmAL._SL1500_.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

.tripsAhoy {
  height: 500px;
  width: 500px;
  margin-left: -7em;
  margin-top: -7em;
}
